label {
	font-size: 0.8em;
}

.profileCard_background {
	background-image: url(https://s3.ap-south-1.amazonaws.com/martjinni/1.jpeg);
	color: #fff;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 95% 95%;
	filter: blur(5px) grayscale(100%) saturate(8);
}

.profileCard_picture {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ede2d0;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
}

.shopCard {
	width: 90%;
	height: 8em;
	margin-left: auto;
	margin-right: auto;
}

.c_img {
	width: 100%;
	height: inherit;
}

.shopCard_img {
	width: 100%;
	height: 8em;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 95% 95%;
}

.shopCard_content {
	width: 100%;
	height: 8em;
}

.shopCard_name {
	text-decoration: none;
	display: block;
	font-size: 1.25em;
	color: #4a4b4c;
	font-weight: 900;
	text-align: center;
	margin-top: 0.1em;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	white-space: nowrap;
}

.shopCard_min {
	text-decoration: none;
	display: block;
	font-size: ;
	color: #035b00;
	font-size: 0.7em;
	font-weight: 900;
	margin-left: 0.2em;
	line-height: 1;
}

.shopCard_delChar {
	text-decoration: none;
	display: block;
	color: #035b00;
	font-size: 0.7em;
	font-weight: 900;
	margin-left: 0.2em;
	line-height: 1;
}

.shopCard_cat {
	text-decoration: none;
	font-size: 0.7em;
	font-style: italic;
	color: #2d220f;
	font-weight: 500;
	/* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1em;
}

.shopCard_money {
	font-size: 1.5em;
	color: #1e1e1e;
	font-weight: 900;
}


/*-------------------------------*/

u {
	display: block;
	width: 512px;
	height: 512px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -256px 0 0 -256px;
	box-sizing: border-box;
	color: #fff;
	line-height: 512px;
	text-align: center;
	text-decoration: none;
}

u i img {
	display: block;
	width: 256px;
	height: 256px;
	position: absolute;
	top: -5px;
	left: 0;
	font-size: 2em;
}

@media screen and (max-width: 995px) {
	u {
		display: block;
		width: 256px;
		height: 256px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -128px 0 0 -128px;
		box-sizing: border-box;
		color: #fff;
		line-height: 256px;
		text-align: center;
		text-decoration: none;
	}
	u i {
		display: block;
		width: 256px;
		height: 256px;
		position: absolute;
		top: -5px;
		left: 0;
		font-size: 2em;
	}
}

.pre {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1e1e1e;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 90000;
}


/*-------------------------------*/

#filterDropdown {
	background-color: #282828;
}

md-52 {}

body {
	background-color: #fcfcfc;
	/*background-image: url("http://www.pngmart.com/files/4/Desert-PNG-Clipart.png");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	background-attachment: fixed;
}

.as_con {
	font-size: 1em;
	font-weight: 100;
}

.as_menu {
	font-size: 1.4em;
}

 .nav-wrapper {
     background: #ffe0bc;
     color: #000;
     font-size: 1.6em;
     font-weight: ;
}

.nav-filter {
	background: #28143f;
	color: #e6e87f;
	font-size: 1.6em;
	font-weight: ;
}

 .headas {
     color: #1E1E1E;
     font-size: 0.65em;
     text-decoration: underline;
     text-decoration-color: #ffa751;
}
 .headas1 {
     color: #000;
     font-weight: 500;
}

.as_map {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	border-width: 0px;
	margin: 0px;
	left: 0px;
	top: 0px;
}

.as_submit {
	position: fixed;
	top: 0px;
	float: right;
	z-index: 15;
	display: inline;
}

.as_ico {
	font-size: 200%;
}

#asico {
	font-size: 200%;
}

.material-icons.md-48 {
	font-size: 1.3em;
	color: #fff;
}

.no-js #loader {
	display: none;
}

.shop_btn {
	background-color: #000;
	padding: 15px;
	border-radius: 0%;
	font-size: 1em;
	color: #e6e87f;
}


/*----------Table CSS------------------*/


/* Table CSS*/

table {
	width: 100%;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

th,
td {
	font-size: 1em;
	line-height: 1.45;
	color: black;
	vertical-align: middle;
    text-align: center;
    align-content: center;
}

th {
	font-weight: 600;
}


/* Tablehead */
/*----------Table CSS------------------*/
/*----------Table CSS------------------*/
/* Table CSS*/
 table {
     width: 100%;
     text-align: center;
     border-spacing: 0;
     border-collapse: collapse;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 th, td {
     font-family: inherit;
     font-size: 1em;
     line-height: 1.45;
     color: black;
     vertical-align: middle;
}
 th {
     font-weight: 500;
}
 thead th {
     background: #fff;
     background: -moz-linear-gradient(top, #ffe0bc 0%, #ffe0bc 100%);
     background: -webkit-linear-gradient(top, #ffe0bc 0%, #ffe0bc 100%);
     background: -o-linear-gradient(top, #ffe0bc 0%, #ffe0bc 100%);
     background: -ms-linear-gradient(top, #ffe0bc 0%, #ffe0bc 100%);
     background: linear-gradient(to bottom, #ffe0bc 0%, #ffe0bc 100%);
     text-align: center;
     position: relative;
     border-bottom: 1px solid #ccc;
     font-weight: 600;
     color: black;
     font-size: 1em;
}
 thead th:nth-child(1) {
     background: transparent;
}
 thead th h2 {
     font-weight: 300;
     font-size: 2.4em;
     line-height: 1.2;
     color: #59c7fb;
}
 thead th h2+p {
     font-size: 1.25em;
     line-height: 1.4;
}
 thead th:nth-child(3) h2 {
     font-size: 3.6em;
}
 thead th:nth-child(3) h2+p {
     font-size: 1em;
}
 thead th p.promo {
     font-size: 1em;
     color: #000;
     position: absolute;
     top: 9em;
     left: -17px;
     z-index: 1000;
     width: 100%;
     margin: 0;
     padding: .625em 17px .75em;
     background: #c00;
     box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
     border-bottom: 1px solid #900;
}
 thead th p.promo:before {
     content: "";
     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 0 7px 7px 0;
     border-color: transparent #900 transparent transparent;
     bottom: -7px;
     left: 0;
}
 thead th p.promo:after {
     content: "";
     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 7px 7px 0 0;
     border-color: #900 transparent transparent transparent;
     bottom: -7px;
     right: 0;
}
/* Tablebody */
 tbody th span {
     font-weight: normal;
     font-size: 1em;
     color: #999;
     display: block;
}
 tbody td {
     background: #fff;
     text-align: center;
     color: #424242;
}
 tbody tr:nth-child(even) th, tbody tr td {
     background: #fff;
     border: 1px solid #ccc;
     border-width: 1px 0px 1px 0px;
}
 table td input {
     text-align: center;
     width: 80%;
}
 .btn{
     background-color:#ffa751;
}
 .shopCard{
     background-color: white;
}
/*-----------End of Table-----------------*/

/*-----------End of Table-----------------*/


/*----------Preloader---------------------*/

#prelaoder {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1e1e1e;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 90000
}

.spinner {
	text-align: center;
	font-size: 10px
}

.spinner,
.spinner-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border: 9px solid #fff;
	border-color: transparent #e6e87f;
	margin: auto
}

.spinner {
	width: 85px;
	height: 85px;
	-webkit-animation: spin 2.2s linear 0s infinite normal;
	-moz-animation: spin 2.2s linear 0s infinite normal;
	animation: spin 2.2s linear 0s infinite normal
}

.spinner-inner {
	width: 40px;
	height: 40px;
	-webkit-animation: spinback 1.2s linear 0s infinite normal;
	-moz-animation: spinback 1.2s linear 0s infinite normal;
	animation: spinback 1.2s linear 0s infinite normal
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}

@keyframes spin {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes spinback {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(-360deg)
	}
}

@-moz-keyframes spinback {
	from {
		-moz-transform: rotate(0)
	}
	to {
		-moz-transform: rotate(-360deg)
	}
}

@keyframes spinback {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(-360deg)
	}
}


/*------------------------------------------------*/


/* --------------------------------*/

.para_p {
	float: right;
	color: #262626;
	font-size: 1.2em;
	padding: 0px;
	display: inline-block;
	border: 1.2px solid green;
}

.para_an {
	color: #1e1e1e;
	padding: 0px 25px;
}


/*-------------------------------------*/

.head_mod {
	color: #ffa751;
}

.head_mod2 {
	color: #313233;
	color: #fff;
}

.subhead {
	font-weight: 700;
	color: #000;
}

.content {
	color: #434444;
}

.modal {
	background-color: #fff;
	min-height: 100px;
}

.mod_but {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #000;
	color: white;
}

@media screen and (min-width: 995px) {
    /* width */
     ::-webkit-scrollbar {
         width: 8px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
         background: #1e1e1e;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
         background: #ffa751;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
         background: #ffa751;
    }
     .invisible-scrollbar::-webkit-scrollbar {
         display: none;
    }
}

@media screen and (max-width:992px) {
	/* width */
	.shopCard {
		width: 100%;
	}
	.carousel {
		max-height: 15em;
		min-height: 15em;
	}
	.carousel.carousel-slider .carousel-item {
		max-height: 15em;
		min-height: 15em;
	}
	.picker__footer {
		display: none;
	}
	.picker__date-display {
		display: none;
	}
	.picker__frame {
		width: 100%;
	}
     ::-webkit-scrollbar {
         width: 8px;
    }
     .invisible-scrollbar::-webkit-scrollbar {
         display: none;
    }
    /* Track */
     ::-webkit-scrollbar-track {
         background: #000;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
         background: #ffa751;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
         background: #ffa751;
    }
}
.modal-footer {
	background-color: #ffa751;
}


/*---------------BAR for mobiles----------------------*/

@media screen and (max-width: 992px) {
	.brand-logo {
		font-size: 15px;
	}
	.brand-name {
		font-size: 20px;
	}
	.material-icons.md-48 {
		font-size: 1.5em;
		color: #fff;
	}
	.catemain {
		display: block;
	}
	.navbar1 {
		z-index: 6;
		overflow: visible;
		background-color: #282828;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.navbar1 a {
		float: left;
		display: block;
		color: #000;
		text-align: center;
		padding: 0.75em;
		text-decoration: none;
		font-size: 1em;
	}
	.navbar1 ul {
		overflow: auto;
		position: absolute;
	}
	.navbar1 a:hover {
		background: #f1f1f1;
		color: black;
	}
	.material-icons.md-36 {
		font-size: 25px;
		color: #fff;
	}
}

@media screen and (min-width: 992px) {
	.carousel {
		max-height: 20em;
		min-height: 20em;
	}
	.carousel.carousel-slider .carousel-item {
		max-height: 20em;
		min-height: 20em;
	}
	.navbar1 {
		display: none;
	}
}


/*---------------End of Bar---------------------------*/

.as_line {
	display: block;
	/* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 6em;
	line-height: 2em;
	padding-bottom: 1em;
	white-space: nowrap;
}

.card-image {
	height: 10em;
	width: auto;
}

.card-image img {
	height: 10em;
	width: 100%;
	vertical-align: middle;
}

ul#filterDropdown1 {}

ul#filterDropdown1 li {
	padding: 5px;
	text-align: center;
}

ul#filterDropdown1 li a {
	color: white;
}

#headul {
	overflow: auto;
}

#press_cart:active {
	transform: translateY(400px);
}

.parallax {
	background-image: url('../images/mjblack.jpg');
	height: 25em;
	margin-top: 0;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

 .tabs{
     background-color: #fffbfa;
}
 .tabs .indicator{
     background-color:#ffa751;
    /*your color*/
}
.tabs .tab a{
    color:#ffa751;
}
.tabs .tab a:hover, .tabs .tab a.active{
     color:#ffa751;
}
.switch label input[type=checkbox]:checked+.lever{
    background-color: #ffa751;
}
/*----------------------------------------------------------------**/
.btn-outline{
    background-color: white;
    border: 2px solid #ffa751;
    color:#1e1e1e;
}
.btn-floating{
    background-color: #ffa751;
}