input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

div.homeSearch {
   margin-top: 20%;
}

div.map {
        height:100%;
        width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e6e87f;
    font-family: cursive;
    font-size: 0.7em;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e6e87f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #e6e87f;
}
